# Build directories
build/
cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

# Executables
*.exe
*.out
*.app

# Object files
*.o
*.obj
*.a
*.lib

# Visual Studio Code
.vscode/

# Qt Creator
*.pro.user
*.user

# Visual Studio
.vs/

# Logs
*.log